{% extends 'base.html' %}	
{% load staticfiles %}
{% block title_block %} ISA grading {% endblock %}
{% block body_block %}

<div class="container">
<h1>ISA Project 5 Let's Grade</h1>

<ul class="list-group"> 
<li class="list-group-item list-group-item-success">
 <h3 class="list-group-item-heading">Navigating</h3>
  <p class="list-group-item-text">
    <b><p>Users </b> </p>
    <p> Click on 'User Profiles' on the home page to access user page.  We currently have 200 users on the site.  Find them by putting a monotically increasing user id number at the end of the url. e.g /user/64.  If you request a user id above the number of fixtures we have installed, you will be redirected to a custom 404 error page. </p>
    <a href = "{% url 'userprofile_noargs' %} " > Click here to take you to User Profiles. </a>
    <p> Create a new user - You are able to create a new user through the login page! Registering creates a new user in the db. </p>
    <a href = "{% url 'login' %} " > Click here to create your account. </a>

    <br> <br>
    <b><p> Products </b></p>
    <p> Click on 'woa, c00l dr0n35' on the home page to access product page. We currently have 200 drones on the site.  Find them by putting a monotically increasing user id number at the end of the url. e.g /product-details/64.  If you request a drone id above the number of fixtures we have installed, you will be redirected to a custom 404 error page.</p>
    <a href = "{% url 'product-details_noargs' %} " > Click here to take you to Product Page. </a>

    <br> <br>
    <b><p> Listings </p></b>
    <p> To create a listing, you must first log in. Then navigate to create-listing where you can enter information about your listing. This creates a new listing as well as a new drone under the product-details page.</p>
    <a href = "{% url 'create-listing' %} " > Click here to create a new listing (make sure you're logged in!). </a>
    <p> Viewing a listing - We currently have 200 listings in our db. Find them by putting a listing id number at the end of the url. ex. ../listing/64. If you request a listing id above the number of fixtures we have installed, you will be redirected to a custon 404 error page. If you created a new listing, you will be able to see both that listing and the new drone. </p>
    <a href = "{% url 'listing_noargs' %} " > Click here to take you to the Listings Page. </a>

    <br> <br>
    <b><p> Search </p></b>
    <p> You can now search for listings using the upper right hand search box! </p>

  </p>
</li>


<li class="list-group-item list-group-item-info"> 
 <h3 class="list-group-item-heading">User Stories</h3>
  <p class="list-group-item-text">
    <h1> Project 3 </h1>
    <p> 1. As a user, I would like to be able to create a user profile. </p>
    <p> 2. As a user, I would like to be able to retrieve my own information and see other user's profiles. </p>
    <p> 3. As a user, I would like to get information on a drone. </p>
    <p> 4. As a user, I would like to have a biography section to express myself. </p>
    <p> 5. As a user, I would like to show people how long I've been on the site. </p>
    <p> 6. As a user, I would like to see the three most recent drones available. </p>
    <h1> Project 4 </h1>
    <p> 7. As a user new to this site, I would like to create my own account so I can begin leasing and renting drones. </p>


    {% comment %}<p> 8. As a drone owner, I would like to lease out my drones so I can make money. </p>
    <p> 9. As a user, I would like to browse drones that are currently available for lease. </p>
    <p> 10. As a user, I would like my sell orders to be publicly listed. </p> 
    <p> 13. As a user, I would like to be logged in for at least one day. </p>{% endcomment %}
   
    <p> 8. As a user, I would like to log out securely so that I don't get hacked. </p>
    <p> 9. As a pre-existing user, I would like to log in to access my account information. </p>
    
    <p> 10. As a user, I want my password to be safe!!!!!!! </p>
    <h1> Project 5 </h1>
    <p> 11. As a user, I want to be able to search for new listings of drones which I can lease or rent. 
    </p>
    <p> 12. As a user, I want to be able to search for new listings of drones by any of their rent details: description, legal lease usage, maintenance status, etc. 
    </p>
    <p> 13. As a user, I want to quickly be able to search for a listing that I created. (kafka queueing)
    </p>
  </p>
</li>

<li class="list-group-item list-group-item-warning"> 
 <h3 class="list-group-item-heading">Unit Tests</h3>
  <a href = "https://travis-ci.org/samuelhavron/daas"><img src="https://travis-ci.org/samuelhavron/daas.svg?branch=authentication"> </a>
  <p class="list-group-item-text">
    <p> Each number for the unit tests corresponds to the respective user story above. </p>
    <p> 1. <a href = "https://github.com/samuelhavron/daas/blob/master/models/daasapp/tests/test_users.py"> See code that creates user profile using UserForm. </a> </p>
    <p> 2. <a href = "https://github.com/samuelhavron/daas/blob/master/models/daasapp/tests/test_users.py"> See code that inspects users and gets user attributes. </a> </p>
    <p> 3. <a href = "https://github.com/samuelhavron/daas/blob/master/models/daasapp/tests/test_drones.py"> See code that creates drones, gets drone attributes and tests invalid drone ids. </a> </p>
    <p> 4. <a href = "https://github.com/samuelhavron/daas/blob/master/models/daasapp/tests/test_users.py" > See code that inspects biography. </a> </p>
    <p> 5. <a href = "https://github.com/samuelhavron/daas/blob/master/models/daasapp/tests/test_users.py" > See code that inspects when the user signed up. </a> </p>
    <p> 6. <a href = "https://github.com/samuelhavron/daas/blob/master/models/daasapp/tests/test_drones.py" > See code that tests 3 most recent drones available. </a> </p>
    <p> 7-12. The rest of the user stories are implemented as unit tests within our testing folder as demonstrated. </p>
  </p>
</li>


</ul>

</div>
{% endblock %}
