{% extends 'base.html' %}	
{% load staticfiles %}
{% block title_block %} ISA grading {% endblock %}
{% block body_block %}

<div class="container">
<h1>ISA Project 3 Let's Grade</h1>

<ul class="list-group"> 
<li class="list-group-item list-group-item-success">
 <h3 class="list-group-item-heading">Navigating</h3>
  <p class="list-group-item-text">
    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
  </p>
</li>

<li class="list-group-item list-group-item-info"> 
 <h3 class="list-group-item-heading">User Stories</h3>
  <p class="list-group-item-text">
    <p> 1. As a user, I would like to be able to create a user profile. </p>
    <p> 2. As a user, I would like to be able to retrieve my own information and see other user's profiles. </p>
    <p> 3. As a user, I would like to get information on a drone. </p>
    <p> 4. As a user, I would like to have a biography section to express myself. </p>
    <p> 5. As a user, I would like to show people how long I've been on the site. </p>
    <p> 6. As a user, I would like to see a list of drones I am currently loaning out. </p>
  </p>
</li>

<li class="list-group-item list-group-item-warning"> 
 <h3 class="list-group-item-heading">Unit Tests</h3>
  <p class="list-group-item-text">
    Donec id elitnon mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    Donec id elitnon mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    Donec id elitnon mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    Donec id elitnon mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    Donec id elitnon mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
  </p>
</li>


</ul>

</div>
{% endblock %}
