{% extends 'base.html' %}	
{% load staticfiles %}
{% block title_block %} daas login {% endblock %}
{% block headtag_block %} 
  <link href="{% static "css/form-login.css" %}" rel="stylesheet">
{% endblock %}
{% block body_block %}


<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
            {% if resp %}
            <b>{{ resp }}</b>
            <br>
            <br>
            {% endif %}
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
            {% if login_form %}
            <form class="form-signin" action="/login/" method="post">
            <h2 class="form-signin-heading">Please login</h2>
                <button type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">Login</button>
                {% csrf_token %}
                {{ login_form }}
            </form>
            {% endif %}
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
					<div class="signup-form"><!--sign up form-->
				<div class="col-sm-4">
        <img src="{% static "images/home/dog2.jpg" %}" class="girl img-responsive" alt="" />
						<h2>New User Signup!</h2>
            {% if register_form %}
            <form class="form-signin" action="/register/" method="post">
            <h2 class="form-signin-heading">Please login</h2>
                <button type="submit" class="btn btn-lg btn-primary btn-block" value="Submit">Sign up!</button>
                {% csrf_token %}
                {{ register_form }}
            </form>
            {% endif %}
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
{% endblock %}	
