{% extends 'base.html' %}	
{% load staticfiles %}
{% block title_block %} daas login {% endblock %}
{% block body_block %}
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
        {{ form_invalid }}
        {{ registration_success }}
									<img src="{% static "images/home/pug.jpg" %}" class="girl img-responsive" alt="" />
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
            {% if resp %}
            {{ resp }}
            {% endif %}
            <form action="/login/" method="post">
                {% csrf_token %}
                {{ login_form }}
                <button type="submit" class="btn btn-success" value="Submit">Login</button>
            </form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
            <form action="/register/" method="post">
                {% csrf_token %}
                {{ register_form }}
                <button type="submit" class="btn btn-success" value="Submit">Sign up!</button>
            </form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
{% endblock %}	
