global
    maxconn 2048

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:8000
    default_backend servers

backend servers
    server server1 ${EXP0_PORT_8000_TCP_ADDR}:${EXP0_PORT_8000_TCP_PORT}
    server server2 ${EXP1_PORT_8000_TCP_ADDR}:${EXP1_PORT_8000_TCP_PORT}
    server server3 ${EXP2_PORT_8000_TCP_ADDR}:${EXP2_PORT_8000_TCP_PORT}
