global
    maxconn 2048
    log /dev/log local2
    log-send-hostname

defaults
    log global
    mode http
    option httplog
    option  dontlognull
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in 
    bind *:8000
    capture request header Host len 50
    default_backend servers

backend servers
    server exp0 ${EXP0_PORT_8000_TCP_ADDR}:${EXP0_PORT_8000_TCP_PORT}
    server exp1 ${EXP1_PORT_8000_TCP_ADDR}:${EXP1_PORT_8000_TCP_PORT}
    server exp2 ${EXP2_PORT_8000_TCP_ADDR}:${EXP2_PORT_8000_TCP_PORT}

listen stats
    bind *:1937
    mode http
    stats enable
    stats uri /
    stats hide-version
    stats auth username:password
