arrow==0.8.0
Django==1.8.14
elasticsearch==2.4.0
Faker==0.7.3
kafka-python==1.0.0
mod-wsgi==4.5.2
mysql-connector-python-rf==2.1.3
Pillow==8.2.0
python-dateutil==2.5.3
requests==2.11.1
six==1.10.0
urllib3==1.18
django_coverage==1.2.4
django_nose==1.4.4
